<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-cn" lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html" />
<meta name="autor" content="软工小组" />
<meta name="description" content=""  />
<meta name="keywords" content="" />
<title>Story of diary</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'css/print.css' %}" media="print" />
<script src="{% static 'datePlugin.js' %}"></script>
</head>
<body>
<div id="view">
  <!-- #header (main heading + logo with slogan) -->
  <div id="head">
    <!-- main headings with search component -->
    <div id="main">
      <h1>日记故事</a></h1>
      <h2>test version</a></h2>
      <form action="" method="post" id="search">
        <fieldset>
            <h2>已登录：{{user_name}}</h2>
            <h2><a href="/private/signOut">注销</a></h2>
        </fieldset>
      </form>
    </div>
    <!-- /main headings with search component -->
    <hr class="hidden" />
    <!-- main horizontal menu -->
    <div id="mainMenu">
      <ul>
        <li><a href='/public/page/1'>日记社区<span></span></a></li>
        <li class="active"><a href='/private/page/1'>个人主页<span></span></a></li>
        <!--li class="fr"><a href="http://www.baidu.com">关于<span></span></a></li-->
        <!--li class="fr"><a href="http://www.baidu.com">获取帮助<span></span></a></li-->
        <li class="fr"><a href='/private/setting/'>设置<span></span></a></li>
      </ul>
    </div>
    <!-- /main horizontal menu -->
    <hr class="hidden" />
    <!-- logo with slogan -->
    <!-- /logo with slogan -->
    <hr class="hidden" />
  </div>
  <!-- /#header (main heading + logo with slogan) -->
  <!-- #main content construct -->
  <div id="content">
    <!-- #left part of web - main content -->
    <div id="contentBlock">
      <!-- #cols 50:50 -->

      <textarea rows="40" cols="67" style=" font-size:9pt;font-family:verdana;color:#333333;background-color:white; resize:none" >
~~~~~~~~~~~~~~~~~~~~~~~使用指南~~~~~~~~~~~~~~~~~~~~~~
                                                                                                     by 软工小组
                             使用 项目-日记故事 来与他人分享生活中的点滴

您是新用户？
	完成注册以获取您的账号，返回登陆界面，键入用户名和密码以登陆。

让更多用户认识您：
	点击个人信息，完善您的资料并上传一张图片，可以让天南海北的人更容易记住您。

编辑您的第一份日记：
	点击新建->输入日记主题和内容->选择是否公开*->点击保存，至此，您的第一份日记便成功保存，并随时可以再次查看。
（*关于公开：公开的日记将会设置成为在公共区可见，您可以查看其他人公开的日记并对其内容进行评论，同样，您公开的日记也会对其他人开放阅读和评论的权限。）

回顾以往的日记：
	如果您在此之前已经保存过日记，那么进入个人中心->选择您想要回顾的日记->点击进入，即可查阅之前的日记。

仍然有问题或对项目有任何建议和意见：
	请点击主页面“联系我们”以获取更加细致的帮助或提出您的宝贵意见，感谢您的支持。





      </textarea>

      <div class="col2">
        </a> </div>
      <!-- /#cols 50:50 -->
    </div>
    <!-- /#left part of web - main content -->
    <hr class="hidden" />
    <!-- #right part of web - submenu boxes with simple text -->
    <div id="menuBlock">
      <div class="box boxText firstBox">
        <h3>个人信息</h3>
        <div class="img"><img src="{% static 'images/timg.jpg'%}" width="56" alt="" /></div>
        <div class="self">
          <p class="last">用户名：<br />
            年龄:&nbsp;18&nbsp;岁<br />
        </div>
      </div>
      <div class="box subMenu">
        <h3>个人设置:</h3>
        <ul>
          <li><a href='/private/setting/'>个人简介</a></li>
          <li><a href='/private/setting/'>照片</a></li>
          <li><a href='/private/setting/'>联系</a></li>
        </ul>
      </div>
      <div class="box subMenu">
            <h3>查看:</h3>
            <ul>
               <input onclick="SelectDate(this,'yyyy-MM-dd')" readonly="true"  type="text">
            </ul>
      </div>
    </div>
    <!-- /#right part of web -->
  </div>
  <!-- /#main content construct -->
  <!-- #accessible components - do not delete this !!! -->
  <hr class="hidden" />
  <ul class="hidden">
    <li><a href="#view">On top</a></li>
    <li><a href="#content">Back to content</a></li>
  </ul>
  <hr class="hidden" />
  <!-- /#accessible components -->
  <!-- #footer -->
  <div id="foot">
    <p class="fl">&copy; all rights reserved</p>
    <!-- /#   LINKS AND AUTHOR-SIGNATURE CANNOT BE REMOVED !!! -->
    <p class="fr">created by&nbsp;<a class="ico ico-breezy">软工小组</a></p>
  </div>
  <!-- /#footer -->
</div>
</body>
</html>
