<!DOCTYPE html">

{% load static %}
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css" href="{% static 'css/default.css'%}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'css/print.css'%}" media="print" />

<style>
textarea {
color:black;
background:lightblue;
boarder:white;
}
input{
color:black;
background:lightgray;
}
h2{
color:black;
}
</style>
</head>
<body>
<div id="view">
  <!-- #header (main heading + logo with slogan) -->
  <div id="head">
    <!-- main headings with search component -->
    <div id="main">
            <h1>日记故事</a></h1>
            <h2>test version</a></h2>      
     <div id="search">
	<h2 style="color:black;">已登录：{{user_name}}</h2> 
                <li><a href="/private/signOut">注销</a></li>
	</div>
    </div>
    <!-- /main headings with search component -->
    <hr class="hidden" />
    <!-- main horizontal menu -->
    <div id="mainMenu">
      <ul>
        <li><a href={%url 'private_edit_new'%}>写日记</a></li>
        <li ><a href={%url 'public' 1%}>日记广场</a></li>
        <li><a href={%url 'private' 1%}>我的日记</a></li>
        <li><a href={%url 'private_setting'%}>个人设置</a></li>
      </ul>
    </div>
    <!-- /main horizontal menu -->
    <hr class="hidden" />
    <!-- logo with slogan -->
    <div id="logo">
      <h2 style="color:black; text-align: center;">分享你的故事</h2>
    </div>
    <!-- /logo with slogan -->
    <hr class="hidden" />
  </div>
  <!-- /#header (main heading + logo with slogan) -->
  <!-- #main content construct -->
  <div id="content">
    <!-- #left part of web - main content -->
    <div id="contentBlock">
      <!-- #first (main) article -->
      <div class="item mainItem">
	<p class="info"><font size="5">我的日记</font></p>	
        <p class="info"><font size="3">标题 :{{title}}</font></p>
        <p class="info"><span class="date">上传日期：{{pub_date}}</span></p>
	<p class="perex"><font size="3">{{text}}</font></p>	
      <button title="click to read" style="border:1px solid;"><a href={{url}}>编辑日记</a></button>
	  </div>
  <!-- /#main content construct -->
  <!-- #accessible components - do not delete this !!! -->
  <hr class="hidden" />
  <ul class="hidden">
    <li><a href="#view">On top</a></li>
    <li><a href="#content">Back to content</a></li>
  </ul>
  <hr class="hidden" />
  <!-- /#accessible components -->
</div>
<div id="menuBlock">
        <div class="box boxText firstBox">
                <h3>我的信息</h3>
                <div class="img"><img src={{picture.img.url}} width="56" alt="" /></div>
                <div class="self">
                  <p class="last">昵称:{{realname}}<br />
                    年龄:&nbsp;{{age}}&nbsp;岁<br />
                    性别:{{sex}}<br />
                    email:&nbsp;{{email}}</p>
                </div>
                </div>
    <!-- /#left part of web - main content -->
    <hr class="hidden" />
    <!-- #right part of web - submenu boxes with simple text -->
      <div class="box subMenu">    
        <li><font size="4">目录:</font></li>
	{% for i in list%}
	<ul>
	<li><a href="{%url 'private_detail' i.id %}">{{i.title}}</a></li>
	</ul>
	{%endfor%}
    </div>
    <!-- /#right part of web -->
  </div>
  <!-- #footer -->
  <div id="foot">
    <p class="fl">&copy; all rights reserved</p>
    <!-- /#   LINKS AND AUTHOR-SIGNATURE CANNOT BE REMOVED !!! -->
    <p class="fr">created by&nbsp;<a class="ico ico-breezy">软工小组</a></p>
  </div>
  <!-- /#footer -->
</div>
</body>
</html>
