<!DOCTYPE html>
{% load static %}
<head>   
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html" />
<meta name="autor" content="软工小组" />
<meta name="description" content=""  />
<meta name="keywords" content="" />
<title>Story of diary</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'css/print.css' %}" media="print" />
<script>
function check_form(){
    var title=document.getElementById("title");
    var content=document.getElementById("content");
    if(title.value=='' || content.value=='')alert("标题和内容不能为空");
    else {
        var form=document.getElementById("new_diary");
        form.submit();
    }
}
</script>
</head>
<body>
<div id="view">
  <!-- #header (main heading + logo with slogan) -->
  <div id="head">
    <!-- main headings with search component -->
    <div id="main">
      <h1>日记故事</a></h1>
      <h2>test version</a></h2>
      <div id="search">
            <h2>已登录：{{name}}</h2> 
            <h2><a href="/private/signOut">注销</a></h2>
      </div>
    </div>
    <!-- /main headings with search component -->
    <hr class="hidden" />
    <!-- main horizontal menu -->
    <div id="mainMenu">
      <ul>
        <li><a href={{public}}><font size=3>日记广场<span></span></font></a></li>
        <li class="active"><a href={{private}}><font size=3>个人主页<span></span></font></a></li>
        <li><a href={{new}}><font size=3>写日记<span></span></font></a></li>
        <li class="fr"><a href={{setting}}><font size=3>个人设置<span</span></font></a></li>
        <li class="fr"><a href="/help"><font size=3>获取帮助<span></span></font></a></li>
      </ul>
    </div>
    <!-- /main horizontal menu -->
    <hr class="hidden" />
    <!-- logo with slogan -->
    <!-- /logo with slogan -->
    <hr class="hidden" />
  </div>
  <!-- /#header (main heading + logo with slogan) -->
  <!-- #main content construct -->
  <div id="content">
    <!-- #left part of web - main content -->
    <div id="contentBlock">
      <!-- #cols 50:50 -->
	  <a href={{url}}>返回</a>
      <form action="{% url 'private_edit' d_id%}" method="post" id="new_diary">
{% csrf_token %}
      标题： <textarea rows="1" cols="15" style=" font-size:22px; resize:none" name="title" id="title">
{{diary_title}}
</textarea><br>
<textarea rows="10" cols="40" style=" font-size:22px; resize:none" name= "content" id="content">
{{content}}
</textarea><br>
公开?<input type="checkbox" value="1" name="checkbox"/>
<p>{{mess}}</p><br>
<input type="button" value="保存" onclick="check_form()" style="width:100px;height:25px;line-height:18px;font-size:18px;border-radius: 3px; background: #1E90FF;color: white;border-width: 0px; cursor: pointer; "/> 
<input type="submit" value="删除" name="delete" style="width:100px;height:25px;line-height:18px;font-size:18px;border-radius: 3px; background: #C0C0C0;color: white;border-width: 0px; cursor: pointer; "/> 
</form>
      </ul>
      <div class="col2">
        </a> </div>
      <!-- /#cols 50:50 -->
    </div>
    <!-- /#left part of web - main content -->
    <hr class="hidden" />
    <!-- #right part of web - submenu boxes with simple text -->
    <div id="menuBlock">
      <div class="box boxText firstBox">
        <h3>个人信息</h3>
        <div class="img"><img src={{img.url}} width="56" alt="" /></div>
        <div class="self">
          <p class="last">用户名：{{name}}<br />
            年龄:&nbsp;{{age}}&nbsp;岁<br />
            生日：{{year}}-{{month}}-{{day}}<br/>
            性别：{{sex}}<br/>
            电话：{{phone}}<br/>
            邮箱：{{email}}<br/>
        </div></div>
      <div class="box subMenu">
	              <h3>按日期查看:</h3>
		<form action={% url 'private' 1%} method="post" id="view_by_date">
			{% csrf_token %}
          <ul>
              <input onclick="SelectDate(this,'yyyy-MM-dd')" readonly="true"  type="text" name="date">
          </ul>
		</form>
      </div>   
    </div>
    <!-- /#right part of web -->
  </div>
  <!-- /#main content construct -->
  <!-- #accessible components - do not delete this !!! -->
  <hr class="hidden" />
  <ul class="hidden">
    <li><a href="#view">On top</a></li>
    <li><a href="#content">Back to content</a></li>
  </ul>
  <hr class="hidden" />
  <!-- /#accessible components -->
  <!-- #footer -->
  <div id="foot">
    <p class="fl">&copy; all rights reserved</p>
    <!-- /#   LINKS AND AUTHOR-SIGNATURE CANNOT BE REMOVED !!! -->
    <p class="fr">created by&nbsp;<a class="ico ico-breezy">软工小组</a></p>
  </div>
  <!-- /#footer -->
</div>
</body>
</html>
