<!DOCTYPE html>
{% load static %}
<head>   
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html" />
<meta name="autor" content="软工小组" />
<meta name="description" content=""  />
<meta name="keywords" content="" />
<title>Story of diary</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'css/print.css' %}" media="print" />
<script src="{% static 'js/datePlugin.js' %}"></script>
</head>
<body>
<div id="view">
  <!-- #header (main heading + logo with slogan) -->
  <div id="head">
    <!-- main headings with search component -->
    <div id="main">
      <h1>日记故事</a></h1>
      <h2>test version</a></h2>
      <div id="search">
            <h2>已登录：{{name}}</h2> 
            <h2><a href="/private/signOut">注销</a></h2>
      </div>
    </div>
    <!-- /main headings with search component -->
    <hr class="hidden" />
    <!-- main horizontal menu -->
    <div id="mainMenu">
      <ul>
        <li><a href={{public}}><font size=3>日记广场<span></span></font></a></li>
        <li class="active"><a href={{private}}><font size=3>个人主页<span></span></font></a></li>
        <li><a href="/private/edit/new"><font size=3>写日记<span></span></font></a></li>
        <li class="fr"><a href={{setting}}><font size=3>个人设置<span</span></font></a></li>
        <li class="fr"><a href="/help"><font size=3>获取帮助<span></span></font></a></li>
      </ul>
    </div>
    <!-- /main horizontal menu -->
    <hr class="hidden" />
    <!-- logo with slogan -->
    <div id="logo"> <class="block">&nbsp;</a>
      <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;分享你的故事</h2>
    </div>
    <!-- /logo with slogan -->
    <hr class="hidden" />
  </div>
  <!-- /#header (main heading + logo with slogan) -->
  <!-- #main content construct -->
  <div id="content">
    <!-- #left part of web - main content -->
    <div id="contentBlock">
      <!-- #first (main) article -->
      <div class="item mainEven">
        <h3>{{diary1.title}}</h3>
        <p class="info"><span class="date">{{diary1.pub_date}}</span></p>
        <p class="perex">{{diary1.simp_text}}</p>{% if url1 %}<a href={{url1}}>完整</a>
	      <form action="{% url 'public' page%}" method="post">
			{% csrf_token %}
			<input type="submit" value="赞{{diary1.praise}}" name="1"/>
		</form>
	      {% endif %}
      </div>
      <!-- /#first (main) article -->
      <!-- #cols 50:50 -->
      <div class="col1">
        <div class="item itemOdd">
          <h3>{{diary2.title}}</h3>
          <p class="perex">{{diary2.simp_text}}</p>
          <p class="info"><span class="date">{{diary2.pub_date}}</span></p>{% if url2 %}<a href={{url2}}>完整</a>
		<form action="{% url 'public' page%}" method="post">
			{% csrf_token %}
			<input type="submit" value="赞{{diary2.praise}}" name="2"/>
		  </form>
		{% endif %}
        </div>
        <div class="item itemEven">
          <h3>{{diary3.title}}</h3>
          <p class="perex">{{diary3.simp_text}}</p>
          <p class="info"><span class="date">{{diary3.pub_date}}</span></p>{% if url3 %}<a href={{url3}}>完整</a>
		<form action="{% url 'public' page%}" method="post">
			{% csrf_token %}
			<input type="submit" value="赞{{diary3.praise}}" name="3"/>
		  </form>
		{% endif %}
        </div>
        <div class="item itemOdd last">
          <h3>{{diary4.title}}</h3>
          <p class="perex">{{diary4.simp_text}}</p>
          <p class="info"><span class="date">{{diary4.pub_date}}</span></p>{% if url4 %}<a href={{url4}}>完整</a>
		<form action="{% url 'public' page%}" method="post">
			{% csrf_token %}
			<input type="submit" value="赞{{diary4.praise}}" name="4"/>
		  </form>
		{% endif %}
        </div>
		<div class="item itemEven">
          <h3>{{diary5.title}}</h3>
          <p class="perex">{{diary5.simp_text}}</p>
          <p class="info"><span class="date">{{diary5.pub_date}}</span></p>{% if url5 %}<a href={{url5}}>完整</a>
			<form action="{% url 'public' page%}" method="post">
			{% csrf_token %}
			<input type="submit" value="赞{{diary5.praise}}" name="5"/>
		  	</form>
			{% endif %}
        </div>
        <div class="item itemOdd last">
          <h3>{{diary6.title}}</h3>
          <p class="perex">{{diary6.simp_text}}</p>
          <p class="info"><span class="date">{{diary6.pub_date}}</span></p>{% if url6 %}<a href={{url6}}>完整</a>
		<form action="{% url 'public' page%}" method="post">
			{% csrf_token %}
			<input type="submit" value="赞{{diary6.praise}}" name="6"/>
		  </form>
		{% endif %}
        </div>
        <div class="col2">
        </div><!-- /#cols 50:50 -->
	  {%if last%}
	  <a href={{last}}>上一页</a>
	  {%endif%}
	  {%if next%}
	  <a href={{next}}>下一页</a>
	  {%endif%}
        </div>
    </div>
    <!-- /#left part of web - main content -->
    <hr class="hidden" />
    <!-- #right part of web - submenu boxes with simple text -->
    <div id="menuBlock">
      <div class="box boxText firstBox">
        <h3>个人信息</h3>
        <div class="img"><img src={{img.url}} width="56" alt="" /></div>
        <div class="self">
          <p class="last">用户名：{{user}}<br />
            年龄:&nbsp;{{age}}&nbsp;岁<br />
            生日：{{year}}-{{month}}-{{day}}<br/>
            性别：{{sex}}<br/>
            电话：{{phone}}<br/>
            邮箱：{{email}}<br/>
        </div>
      </div>
      <div class="box subMenu">
        <h3>按日期查看:</h3>
	<form action={% url 'private' 1%} method="post" id="view_by_date">
	    {% csrf_token %}
         <ul>
             <input onclick="SelectDate(this,'yyyy-MM-dd')" readonly="true"  type="text" name="date">
         </ul>
	 </form>
      </div>
    </div>
    <!-- /#right part of web -->
  </div>
  <!-- /#main content construct -->
  <!-- #accessible components - do not delete this !!! -->
  <hr class="hidden" />
  <ul class="hidden">
    <li><a href="#view">On top</a></li>
    <li><a href="#content">Back to content</a></li>
  </ul>
  <hr class="hidden" />
  <!-- /#accessible components -->
  <!-- #footer -->
  <div id="foot">
    <p class="fl">&copy; all rights reserved</p>
    <!-- /#   LINKS AND AUTHOR-SIGNATURE CANNOT BE REMOVED !!! -->
    <p class="fr">created by&nbsp;软工小组</a></p>
  </div>
  <!-- /#footer -->
</div>
</body>
</html>
